{% extends 'base.html.twig' %}

{% block title %}Edit Page
{% endblock %}

{% block body %}

	<div class="container">
		<div class='h2 mb-2'>
			{{ page.project.fullName}}
		</div>

		{{ include('page/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('app_page_index') }}">back to list</a>

		{{ include('page/_delete_form.html.twig') }}
	</div>
{% endblock %}
