{% extends 'base.html.twig' %}

{% block title %}Добавление страницы
{% endblock %}

{% block body %}
	<div class="container">
		<div class='h2 mb-2 text-center'>
			Добавление страницы
		</div>
		<div class="needs-validation" novalidate="">
			<div class="py-5 text-center w-50 m-auto">
				{{ include('page/_form.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}
