{% extends 'base.html.twig' %}

{% block title %}Новая команда{% endblock %}

{% block body %}
    <h1>Новая команда</h1>

    {{ include('team/_form.html.twig') }}

    <a href="{{ path('app_team_index') }}">назад</a>
{% endblock %}
