{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div
		class="container py-4">
		<div class="p-5 mb-4 bg-body-tertiary rounded-3">

			<div class="row align-items-md-stretch">
				<div class="col-md-6">
					<div class="container-fluid py-5">
						<h1 class="display-5 fw-bold">MyDocs - управляйте информацией о проектах </h1>
						{# <h1 class="display-5 fw-bold">{{ vue_component('MyComponent', { 'name': 'test' }) }}></h1> #}

                        {# <div {{ vue_component('MyComponent', { 'name': 'text' }) }}></div> #}
						<p class="col-md-8 fs-4">Управляйте сохраняемой информацией о проектах и ее представлением. Следите за активностью разработчиков </p>
						<button class="btn btn-outline-secondary btn-lg" type="button" href="#">Авторизация</button>
					</div>
				</div>
			<div class="col-md-6 d-flex justify-content-end">
				<img src="https://i.pinimg.com/564x/2f/1d/e2/2f1de280c44a600297761f4c7bf0434c.jpg" class="img-fluid rounded float-start box-shadow-sm h-75 p-4" alt="...">                
			</div>
			</div>
		</div>

		<div class="row align-items-md-stretch">
			<div class="col-md-6">
				<div class="h-100 p-5 text-bg-dark rounded-3">
					<h2>Сохраняйте</h2>
					<p>Вы можете сохранить всю важную информацию о проектах, например...</p>
					{# templates/home.html.twig #}
					
					{# <button class="btn btn-outline-secondary btn-lg" type="button" href="#"></button> #}
				</div>
			</div>
			<div class="col-md-6">
				<div class="h-100 p-5 bg-body-tertiary border rounded-3">
					<h2>Руководствуйтесь</h2>
					<p>Получите необходимую информацию даже тогда, когда вы не можете ее найти в других сервисах. Получите всю полезную информацию в одном месте</p>
					{# <button class="btn btn-outline-secondary btn-lg" type="button" href="#"></button> #}
				</div>
			</div>
		</div>

		<footer class="pt-3 mt-4 text-body-secondary border-top">
			© 2023
		</footer>
	</div>

</main>{% endblock %}
