{% extends 'base.html.twig' %}

{% block body %}
	<div class="container w-100 mx-auto">
		<h1 class="text-center">Для доступа к данной странице обратитесь к администратору</h1>

		<p class="text-center">
			<a href="{{ path('main') }}">На главную</a>
		</p>
	</div>
{% endblock %}
