{% extends 'base.html.twig' %}

{% block title %}New Project
{% endblock %}

{% block body %}

	<div class="needs-validation" novalidate="">
		<div class="py-5 text-center w-25 m-auto">
			<h3 class='mb-3'>
				Создание проекта
			</h3>
			{{ include('project/_form.html.twig') }}
			<a class="btn btn-primary" href="{{ path('app_project_index') }}">К списку проектов</a>
		</div>
	</div>
</div>{% endblock %}
