{% extends 'base.html.twig' %}

{% block title %}Редактирование личных данных
{% endblock %}

{% block body %}
	<div class="container ">
		<div class="py-10 text-center">
			<h2>Редактирование личных данных</h2>
            <p class="lead">для добавления проектов и добавления команды необходимо связаться с администратором</p>
		</div>
		<main>
			<div class="needs-validation" novalidate="">
				<div class="py-5 text-center w-25 m-auto">
					{{ include('user/_form.html.twig', {'button_label': 'Сохранить'}) }}
					{{ include('user/_delete_form.html.twig') }}
				</div>
			</div>
		</main>
	</div>
{% endblock %}



